<% if prepare_merge %>
  <tr style='background-color: #d0d0d0'>
<% else %>
  <% if tags.id == @just_merged %>
    <tr style="background-color: #dff0d8">
  <% else %>
    <tr>
  <% end %>
<% end %>
  <td><%= link_to tags.tag, edit_tag_path(tags.id) %></td>
  <td><%= tags.other %></td>
  <td><%= tags.taggings.count %></td>
  <% if @category == 2 %>
    <td style='text-align: right'>
      <% if prepare_merge %>
        <%= link_to t('views.tags.remove'), prepare_merge_ingredients_path(tags.id, remove: true), method: 'patch' %>
      <% else %>
        <% unless session[:prepare_merge] && session[:prepare_merge].index(tags.id.to_s) %>
          <%= link_to t('views.tags.merge'), prepare_merge_ingredients_path(tags.id), method: 'patch' %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <td style='text-align: right'>
    <% unless prepare_merge %>
      <%= link_to tag_path(tags.id), method: 'delete', title: t('views.tags.delete') do %>
        <i class="icon-remove"></i>
      <% end %>
    <% end %>
  </td>
</tr>
