<tr <%= raw('class="error"') if users.dead_account? %>>
  <td><%= users.name %></td>
  <td><%= users.email %></td>
  <td><%= distance_of_time_in_words_to_now(users.created_at) %></td>
  <td>
    <%= link_to user_path(users.id), method: 'delete', title: t('views.users.delete') do %>
      <i class="icon-remove"></i>
    <% end %>
  </td>
</tr>
<tr <%= raw('class="error"') if users.dead_account? %>>
  <td colspan="4" class="muted" style="border: 0"><%= t(Recipe.model_name.human(count: 2)) %>: <%= users.recipes.count %> </td>
</tr>
