<div class="row">
  <div style="margin-bottom: -60px"><span class="spin spin-left"><%= link_to(previous_path) do %>&lsaquo;<% end %></span><span class="spin spin-right"><%= link_to(next_path) do %>&rsaquo;<% end %></span></div>
  <div class="span12">
    <ul class="thumbnails" style="height: 450px">
      <% if @recipes.count > 0 %>
        <%= render(@recipes) %>
      <% else %>
        <h1 class="muted" style="font-size: 400%; text-align: center; margin-top: 188px"><%= t('views.landing_pages.no_results') %></h1>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div id="search_usable" class="muted" style="text-align: justify">
      <div class="tag tag-success">&#10004;</div>
      <%= render(partial: 'layouts/tag_cloud', locals: { cloud: @tags[:usable], name: 'search_usable' }) %>
    </div>
  </div>
  <div class="span6">
    <div id="search_used" class="muted" style="text-align: justify">
      <div class="tag tag-error">&#10008;</div>
      <%= render(partial: 'layouts/tag_cloud', locals: { cloud: @tags[:used], name: 'search_used' }) %>
    </div>
  </div>
</div>

