<div class="span4">
  <div id="cloudinary_preview<%= nr %>">
    <% if image %>
      <%= cl_image_tag(image.name, transformation: :download, style: 'cursor: pointer', id: "preview_pic#{nr}") %>
    <% else %>
      <%= image_tag('placeholder.png', style: 'cursor: pointer', id: "preview_pic#{nr}") %>
    <% end %>
  </div>
  <% if image %>
    <% if image.id %>
      <%= hidden_field_tag("recipe[images_attributes][#{nr-1}][public_id]", image.public_id) %>
      <%= hidden_field_tag("recipe[images_attributes][#{nr-1}][version]", image.version) %>
      <%= hidden_field_tag("recipe[images_attributes][#{nr-1}][id]", image.id) %>
    <% else %>
      <%= hidden_field_tag("recipe[images_attributes][#{nr-1}][tmp_name]", image.tmp_name) %>
    <% end %>
  <% end %>
  <%= cl_image_upload_tag("recipe[images_attributes][#{nr-1}][tmp_name]", transformation: :upload, html: { accept: 'image/*', style: "opacity: 0", id: "upload_pic#{nr}" }) %>
</div>
