  <%= form_for(@recipe, html: { style: 'margin-bottom: 80px' }) do |f| %>
    <%= f.hidden_field(:regionslist, id: 'iregion_used', value: @recipe.tags.where(category: 0).map do |tag| tag.id end.join(' ') ) %>
    <%= f.hidden_field(:tagslist, id: 'itag_used', value: @recipe.tags.where(category: 1).map do |tag| tag.id end.join(' ') ) %>
    <%= cloudinary_js_config %>
    <%= image_tag('upload.gif', style: 'display: none; margin: 50px 100px 50px 100px', id: 'spinner') %>
  <div class="row">
    <% 3.times do |i| %>
      <%= render(partial: 'form_for_pic', locals: { nr: i+1, image: @recipe.images[i] }) %>
    <% end %>
  </div>
  <div class="row">
    <div class="span12">

      <div id="errors">
        <%= render('shared/error_messages', individuum: @recipe) %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" style="margin: 8px"><%= value %></div>
        <% end %>
      </div>

      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <%= t('views.recipes.regions') %><i class="icon icon-chevron-down pull-right"></i>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner" style="padding:0">
              <div class="span6" style="margin:0; padding: 8px 4px 8px 4px">
                <div id="region_usable" class="muted" style="text-align: justify">
                  <div class="tag tag-success">&#10004;</div>
                  <%= render(partial: 'layouts/tag_cloud', locals: { cloud: @regions[:usable], name: 'region_usable' }) %>
                </div>
              </div>
              <div class="span6" style="margin:0; padding: 8px 4px 8px 4px">
                <div id="region_used" class="muted" style="text-align: justify">
                  <div class="tag tag-error">&#10008;</div>
                  <%= render(partial: 'layouts/tag_cloud', locals: { cloud: @regions[:used], name: 'region_used' }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <%= t('views.recipes.tags') %><i class="icon icon-chevron-down pull-right"></i>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner" style="padding:0">
              <div class="span6" style="margin:0; padding: 8px 4px 8px 4px">
                <div id="tag_usable" class="muted" style="text-align: justify">
                  <div class="tag tag-success">&#10004;</div>
                  <%= render(partial: 'layouts/tag_cloud', locals: { cloud: @tags[:usable], name: 'tag_usable' }) %>
                </div>
              </div>
              <div class="span6" style="margin:0; padding: 8px 4px 8px 4px">
                <div id="tag_used" class="muted" style="text-align: justify">
                  <div class="tag tag-error">&#10008;</div>
                  <%= render(partial: 'layouts/tag_cloud', locals: { cloud: @tags[:used], name: 'tag_used' }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <h4><%= t('views.recipes.ingredients') %> <%= f.select(:portion, options_for_select(1..12, @recipe.portion), {include_blank: true}, class: 'inline') %> <span id="portions"><%= t('activerecord.attributes.recipe.portion', count: @recipe.portion || 0) %></span><span id="portion_singular" style="display: none"><%= t('activerecord.attributes.recipe.portion.one')%></span><span id="portion_plural" style="display: none"><%= t('activerecord.attributes.recipe.portion.other') %></span></h4>
      <div class="control-group">
        <div class="control-label">
          <span style="width:44px; padding-left: 4px; display: inline-block"><%= t('activerecord.attributes.tagging.amount') %></span><span style="width: 80px; padding-left: 4px; display: inline-block"><%= t('activerecord.attributes.unit.unit') %></span><%= t('views.recipes.ingredient') %>
        </div>
        <div class="controls">
          <div style="display: none"><input class="noenter" type="text" name="recipe[ingredients[amount]][]" pattern="([0-9]+,?[0-9]*|etwas)" style="width:40px; padding-left: 0" /><select name="recipe[ingredients[unit]][]" style="width: 80px; padding-left: 0"><%= options_for_select(Unit.all.map.each_with_index do |msr, idx| [msr.name, msr.id] end) %></select><input class="noenter" type="text" name="recipe[ingredients[tag]][]" style="width:214px; padding-left: 0" /><%= link_to('#', name: 'add_ingredient', style: 'margin-left: 4px; padding-left: 4px; padding-right: 4px; vertical-align: top', class: 'btn') do %><i class="icon icon-plus"></i><% end %></div>
          <%= render(partial: 'ingredient', collection: @ingredients, locals: { edit: true }) %>
          <div><input class="noenter" type="text" name="recipe[ingredients[amount]][]" pattern="([0-9]+,?[0-9]*|etwas)" style="width:40px; padding-left: 0" /><select name="recipe[ingredients[unit]][]" style="width: 80px; padding-left: 0"><%= options_for_select(Unit.all.map.each_with_index do |msr, idx| [msr.name, msr.id] end) %></select><input class="noenter" type="text" name="recipe[ingredients[tag]][]" style="width:214px; padding-left: 0" /><%= link_to('#', name: 'add_ingredient', style: 'margin-left: 4px; padding-left: 4px; padding-right: 4px; vertical-align: top', class: 'btn') do %><i class="icon icon-plus"></i><% end %></div>
        </div>
      </div>
    </div>
    <div class="span7">
      <h4><%= t('activerecord.attributes.recipe.directions') %></h4>
      <div class="control-group">
        <%= f.label(:title, class: 'control-label') %>
        <div class="controls">
          <%= f.text_field(:title, class: 'input-block-level', maxlength: '60', placeholder: :title) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label(:time, class: 'control-label') %>
        <div class="controls">
          <div class="input-append">
            <%= f.number_field(:time, min: '1', pattern: '[1-9][0-9]*', placeholder: :time) %>
            <span class="add-on"><%= t('views.recipes.minute_abbr') %></span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label(:level, class: 'control-label') %>
        <div class="controls">
          <%= f.select(:level, Recipe.levels.map.each_with_index do |lvl, idx| [lvl, idx] end) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label(:description, class: 'control-label') %>
        <div class="controls">
          <%= f.text_field(:description, class: 'input-block-level', maxlength: '200', placeholder: :description) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label(:directions, class: 'control-label') %>
        <div class="controls">
          <%= f.cktext_area(:directions, class: 'span7', rows: '16', :ckeditor => {:language => "de"}) %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.button(t('views.recipes.save'), class: 'btn btn-primary', name: 'commit', id: 'commit') %>&nbsp;
          <%= f.button(t('views.recipes.cancel'), class: 'btn', name: 'cancel', id: 'cancel') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div id="busy" style="visibility: hidden">
  <div class="container">
    <div class="row">
      <div class="span6 offset3 img-rounded" style="position:fixed; top: 25%; border: 2px solid black; background-color: white; text-align: center; padding-bottom: 20px">
        <h4><%= t('views.recipes.save_progress') %></h4>
        <%= image_tag('ajax-loader.gif') %>
      </div>
    </div>
  </div>
</div>
