<div class="row">
  <div class="span4">
    <div class="well well-small" style="margin-bottom: 12px"><strong>Zubereitungszeit</strong></div>
    <p style="padding-left: 8px"><%= @recipe.time %> min</p>
    <div class="well well-small" style="margin-bottom: 12px"><strong>Schwierigkeit</strong></div>
    <p style="padding-left:8px"><%= Recipe.levels[@recipe.level] %></p>
    <div class="well well-small" style="margin-bottom: 12px"><strong>Autor</strong></div>
    <p style="padding-left:8px"><%= @recipe.user.name %></p>
    <div class="well well-small" style="margin-bottom: 12px"><strong>Bewertung</strong></div>
    <div style="padding-left: 8px">
      <p class="big"><%= render(partial: 'rating', locals: { display_only: true }) %></p>
      <p class="big" style="position: relative; left: 0; top: -30px; font-size: 200%; color: #bbb"><%= render(partial: 'rating', locals: { display_only: false }) %></p>
    </div>
  </div>
  <div class="offset1 span6">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% 3.times do |i| %>
        <div class="item<%= " active" if i==0 %>">
          <img src="<%= Recipe.image_name(@recipe, i+1) %>" alt="<%= "#{@recipe.title} Bild #{i+1}" %>" />
          <div class="container">
            <div class="carousel-caption">
              <%= i+1 %>/3
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  </div>
</div>

<div class="row">
  <div class="span4">
    <% if signed_in? %>
      <% if @recipe.user.id == current_user.id %>
        <%= link_to('Bearbeiten', edit_recipe_path(@recipe), class: "btn btn-success btn-block btn-large") %>
      <% end %>
    <% end %>
  </div>
  <div class="span8">
    <h2><%= @recipe.title %></h2>
    <p><em><%= @recipe.description %></em></p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= form_for(@recipe, url: calculate_path(@recipe), remote: true) do |f| %>
      <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
    <h4>Zutaten für <%= select_tag(:portion, options_for_select(1..12, @recipe.portion), class: 'inline') %> Portionen</h4>
    <dl id='ingredients' class="dl-horizontal">
      <%= render(partial: 'ingredient', collection: @ingredients, locals: { edit: false, factor: @recipe.portion } ) %>
    </dl>
    <% end %>
  </div>
  <div class="span8">
    <h4>Zubereitung</h4>
    <%= render inline: @recipe.directions %>
  </div>
</div>
