<div id="signon">
  <div style="position:absolute; top: 0; left:0; width:100%; height:100%; background-color:gray; opacity: .8;"></div>
  <div class="container">
    <div class="row">
      <div id="formChangePassword" class="span6 offset3 img-rounded" style="position:fixed; top: 25%; border: 2px solid black; background-color: white;">
        <%= form_for(@user, html: { class: 'form-horizontal', style: 'padding-top: 20px' }, remote: true) do |f| %>

          <%= render 'shared/error_messages', individuum: @user %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>" style="margin: 8px"><%= value %></div>
          <% end %>

          <div class="control-group">
            <%= label_tag(:password, 'Altes Kennwort', class: 'control-label') %>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon icon-user"></i></span>
                <%= password_field_tag(:password) %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label(:password, 'Neues Kennwort', class: 'control-label') %>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon icon-lock"></i></span>
                <%= f.password_field :password %>
              </div>
            </div>
            <div class="control-label" />
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon icon-lock"></i></span>
                <%= f.password_field :password_confirmation %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.button('Speichern', class: 'btn btn-primary', id: 'commit', name: 'commit') %>
              &nbsp;<%= f.button('Abbrechen', class: 'btn', id: 'cancel', name: 'cancel') %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
