<% if signed_in? %>

  <div class="btn-group">
    <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon icon-user icon-white"></i>&nbsp;<%= current_user.name %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to(new_recipe_path, id:'linkNewRecipe') do %>
          <i class="menu icon-plus"></i><%= t('views.landing_pages.new_recipe') %>
        <% end %>
      </li>
      <li>
        <%= link_to(search_path('my_recipes'), method: 'post') do %>
          <i class="menu icon-search"></i><%= t('views.landing_pages.my_recipes') %>
          <% if session[:search_id] %>
            <strong>&nbsp;&#10004;</strong>
          <% end %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to(change_password_path, method: 'patch', remote: true, id: 'linkChangePassword') do %>
          <i class="menu icon-wrench"></i><%= t('views.landing_pages.change_password') %>
        <% end %>
      </li>
      <% if is_admin? %>
        <li>
          <%= link_to(admin_users_path) do %>
            <i class="menu icon-wrench"></i><%= t('views.landing_pages.configuration') %>
          <% end %>
        </li>
      <% end %>
      <li class="divider"></li>
      <li>
        <%= link_to(signout_path, method: 'delete', id: 'linkSignout') do %>
          <i class="menu icon-off"></i><%= t('views.landing_pages.signout') %>
        <% end %>
      </li>
    </ul>
  </div>

<% else %>

  <%= link_to(signin_path, remote: true, id: 'linkSignon') do %><i class="icon-lock icon-white"></i>&nbsp;Anmelden<% end %>

<% end %>