<div id="signon">
  <div class="container">
    <div class="row">
      <div id="formSignon" class="span6 offset3 img-rounded" style="position:fixed; top: 25%; border: 2px solid black; background-color: white;">
        <%= form_for(@user, html: { class: 'form-horizontal' }, remote: true) do |f| %>

          <ul class="nav nav-tabs">
            <li <% if params[:what] == 'signin' %>class="active"<% end %>><%= link_to(t('views.users.signin'), signin_path, remote: true, id: 'linkSignin') %></li>
            <li <% if params[:what] == 'signup' %>class="active"<% end %>><%= link_to(t('views.users.signup'), signup_path, remote: true, id: 'linkSignup') %></li>
          </ul>

          <%= render('shared/error_messages', individuum: @user) %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>" style="margin: 8px"><%= value %></div>
          <% end %>


          <%= hidden_field_tag('what', params[:what]) %>

          <% unless params[:what] == 'signin' %>
          <div class="control-group">
            <%= f.label(t('activerecord.attributes.user.name', count: 1), class: 'control-label') %>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon icon-user"></i></span>
                <%= f.text_field(:name, placeholder: t('activerecord.attributes.user.name', count: 1)) %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="control-group">
            <%= f.label(t('activerecord.attributes.user.email', count: 1), class: 'control-label') %>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">@</span>
                <%= f.email_field(:email, placeholder: t('activerecord.attributes.user.email', count: 1)) %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <%= f.label(t('activerecord.attributes.user.password', count: 1), class: 'control-label') %>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon icon-lock"></i></span>
                <%= f.password_field(:password, placeholder: t('activerecord.attributes.user.password', count: 1)) %>
              </div>
            </div>
            <% unless params[:what] == 'signin' %>
            <div class="control-label" />
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon icon-lock"></i></span>
                <%= f.password_field(:password_confirmation, placeholder: t('activerecord.attributes.user.password_confirmation', count: 1)) %>
              </div>
            </div>
            <% end %>
          </div>
          <div class="control-group">
            <div class="controls">
              <% if params[:what] == 'signin' %>
                <%= f.button(t('views.users.signin'), class: 'btn btn-primary', id: 'commitSignon', name: 'commit') %>
              <% else %>
                <%= f.button(t('views.users.signup'), class: 'btn btn-primary', id: 'commitSignon', name: 'commit') %>
              <% end %>
              &nbsp;<%= f.button(t('views.users.cancel'), class: 'btn', id: 'cancelSignon', name: 'cancel') %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
