<%= form_for(@tag, html: { style: 'margin-bottom: 80px' }) do |f| %>
  <div class="row">
    <div class="span12">

      <div id="errors">
        <%= render('shared/error_messages', individuum: @tag) %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" style="margin: 8px"><%= value %></div>
        <% end %>
      </div>

      <%= f.hidden_field(:category, value: @tag.category) %><%= "Category: #{@tag.category}" %>
      <div class="control-group">
        <%= f.label(:tag, class: 'control-label') %>
        <div class="controls">
          <%= f.text_field(:tag, class: 'input-block-level', maxlength: '60', placeholder: t('activerecord.attributes.tag.tag')) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label(:other, class: 'control-label') %>
        <div class="controls">
          <%= f.text_field(:other, class: 'input-block-level', maxlength: '20', placeholder: t('activerecord.attributes.tag.other')) %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.button(t('views.units.save'), class: 'btn btn-primary', name: 'commit', id: 'commit') %>&nbsp;
          <%= f.button(t('views.units.cancel'), class: 'btn', name: 'cancel', id: 'cancel') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
